1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

ANS: 'hello',-87.8,6 are values and -,+,*,/ are expressions

2. What is the difference between string and variable?

ANS: Variable is a container which can store the value(data) and this data can be of int, float, str data-type.
whereas string is one of the datatype which is collection characters (for eg: 'Data Analyst'

3. Describe three different data types.

Int : Int datatype is used to repersent the integer values (eg. a = 12, b = 21)



float : Float datatype is used to repersent the real numbers(floating point) (eg. c = 10.34, d = -1.09)



string: String is used to repersent the sequence of characters. Also the characters can be numbers, special character, and alphabates. (eg. s1 = "Hello World!", s2 = "123<!@3e")

4. What is an expression made up of? What do all expressions do?

ANS:Expression : Expression is the combinaton.of mathematical operators, variables(or Constants). It consists of one or more operand and zero or more operators to produce a value.Expression is used to produce some result or value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

 ANS:
Assignment statement is the statement where some value or expression is assigned to a variable or constant.
The difference is that expression itself is assigned to a variable or constant.



For Eg: spam = 10
In the example " spam = 10 " is a assignment statement whereas the 10   is an expression

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon=22
bacon+1
bacon

22

7.  What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

 ANS:Because the variable declaration in python is that the variable name must start with a alphabet or underscore '_'

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

ANS: for int : int()
for float : float()
for string : str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [4]:
'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [5]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [6]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

Ans: The concat operation between string and int is not possbile. So it will throw an error
Fix: To fix this error we can typecast the int value using str(99)

ANS: