1.What are the two values of the Boolean data type? How do you write them?

Ans:
There are 2 values of Boolean Data Type:

1. True 2. False

Syntax: True, False

2. What are the three different types of Boolean operators?

ANS: There different types of Boolean operators are:

1. AND
2. OR
3. NOT

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [1]:
table_AND = [1 and 1, 1 and 0, 0 and 1, 0 and 0]
table_AND

[1, 0, 0, 0]

In [2]:
table_OR = [1 or 1, 1 or 0, 0 or 1, 0 or 0]
table_OR

[1, 1, 1, 0]

In [3]:
table_NOT = [not 1, not 0]
table_NOT

[False, True]

4. What are the values of the following expressions?
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

1. (5 > 4) and (3 == 5)                   = False
2. not (5 > 4)                            = False
3. (5 > 4) or (3 == 5)                    = True
4. not ((5 > 4) or (3 == 5))              = False
5. (True and True) and (True == False)    = False
6. (not False) or (not True)              = True

In [4]:
print((5 > 4) and (3 == 5),
      not (5 > 4),
      (5 > 4) or (3 == 5),
      not ((5 > 4) or (3 == 5)),
      (True and True) and (True == False),
      (not False) or (not True)
     )

False False True False False True

5. What are the six comparison operators?

==(equal to),!=(not equal to),>(greater than),>=(greater than or equal to),
<(less than),<=(less than or equal to)

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

' = ' : single equals to sign is used for the assignment operation.
' == ' : double equals to sign is used for the equal to condition check.

In [5]:
a=30 #assignmentoperator
a

30

In [7]:
20==30 #equal to condition check operator

False

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [10]:

spam = 0
if spam == 10: #block 1
  print('eggs')
if spam > 5: #block 2
  print('bacon')
else:         #block 3
  print('ham')

print('spam')
print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [14]:
spam = int(input("spam = "))

if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

spam = 1
Hello

In [16]:
spam = int(input("spam = "))

if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings!')

spam = 100
Greetings!

9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

An infinite loop is a loop that runs indefinitely and it only stops with external intervention or when a break statement is found. You can stop an infinite loop with CTRL + C

10. How can you tell the difference between break and continue?

Break statement stops the entire process of the loop. Continue statement only stops the current iteration of the loop. Break also terminates the remaining iterations

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

 range([start], [stop], [step]).


start is optional. When not provided, it defaults to 0. It is the starting number of the sequence.

stop is mandatory. range will generate numbers up to but not including the value of stop.

step is optional. When not provided, it defaults to 1. It is the difference between two elements in the sequence.

so, there is not difference between range(10), range(0, 10), and range(0, 10, 1)

In [17]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [18]:
for i in range(0, 10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [19]:
for i in range(0, 10, 1):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [20]:
## Using for loop

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
## Using while loop

i = 1
while i < 11:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

import spam

spam.bacon()